<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wushiqian.one_wushiqian" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.wushiqian.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/one"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wushiqian.activity.StartActivity"
            android:theme="@style/AppTheme.Full">
        </activity>
        <activity android:name="com.wushiqian.activity.MainActivity"
                  android:label="一个ONE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wushiqian.activity.ArticleActivity"
            android:label="Article">
        </activity>
        <activity android:name="com.wushiqian.activity.PictureActivity"
            android:label="Picture">
        </activity>
        <activity android:name="com.wushiqian.activity.ContentActivity"
            android:label="Content">
        </activity>
        <activity android:name="com.wushiqian.activity.MusicActivity"
            android:label="Music">
        </activity>
        <activity android:name="com.wushiqian.activity.FilmActivity"
            android:label="Film">
        </activity>
        <activity android:name="com.wushiqian.activity.PictureDetailActivity"
            android:label="PictureDetail">
        </activity>
        <activity android:name="com.wushiqian.activity.AboutActivity"
            android:label="About">
        </activity>
    </application>

</manifest>